<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
        <!--<h1>{{ site.title }}PhantomGPS官网</h1>-->
          
        </div>

        {{ content }}

      </section>

    </div>

  </body>
</html>
